.footer {
  display: grid;
  gap: 0.5rem;
  place-content: center;
  padding-top: 3rem;
  padding-bottom: 1rem;

  &__credits {
    font-size: $fs-500;
  }

  &__attribution {
    color: $clr-secondary;
    text-align: center;
  }
}
