.summary {
  padding-block: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
  font-weight: bold;
  &__share-button {
    display: none;
    @include breakpoint-up(medium) {
      display: inline;
    }
  }
}
