//colors
$clr-primary: #001219;
$clr-secondary: #343a40;
$clr-light-gray: #adb5bd;
$clr-bg: #ede0d4;

//font-sizes
$fs-300: 0.875rem;
$fs-400: 1rem;
$fs-500: 1.125rem;
$fs-900: 1.375rem;

//font-families
$ff-main: "Roboto Condensed", sans-serif;
$ff-secondary: "Nunito Sans", sans-serif;
